<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main class="navbar flex-row flex-column">
    <nav class="hero">
      <h2>
        <ul>
          <li class="li-inline nav-item"><a href="/">Home</a></li>
          <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
          <li class="li-inline nav-item"><a href="/logout">logout</a></li>
        </ul>
      </h2>
    </nav>
    <header>
      <h2 class="app-title">The Tech Blog</h2>
    </header>
  </main>
    {{{body}}}
    <footer>
      <button class="footer justify-center"><a href="">+ New Post</a></button>
    </footer>
</body>
</html>
    