<h2 class="page-title">login</h2>
<form id="login-form">
  <div class="mb-3">
    <label for="InputUsername" class="form-label">Username </label>
    <input type="text" class="form-control" id="username-input-login" aria-describedby="form-check-input">
    <div id="UsernameHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-input-login">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="./signup.handlebars">Sign up Instead</a>
</form>

<script src="/js/login.js"></script>